$def with(datos, datos1, datos2)

<h1>Mejores goleadores de cada equipo</h1>

$for i in range(0):
    $i - $i <br> 
<table>
    <td>
        Equipo $datos[0] <br>
        Jugador $datos1[0] <br>
        goles $datos2[0] <br>
        Equipo $datos[1] <br>
        jugador $datos1[1] <br>
        Goles $datos2[1]<br>
        Equipo $datos[2] <br>
        Jugador $datos1[2] <br>
        Goles $datos2[2]<br>
        Equipo $datos[3] <br>
        Jugador $datos1[3] <br>
        Goles $datos2[3]<br>
        Equipo $datos[4] <br>
        Jugador $datos1[4] <br>
        Goles $datos2[4]<br>
</td>
</table>
